/**
 * @file ms-plantilla.css
 * @description Estilos aplicables a la visualización de elementos relacionados con el MS Plantilla
 * @author Víctor M. Rivas Santos <vrivas@ujaen.es>
 * @date 03-Feb-2023
 */



* {
    font-family: 'Source Sans Pro', sans-serif;
}

table.Aplicacion-balonmano {
    width: 100%;
    border: 1px solid rgba(7, 45, 8, 0.8);
}

table.Aplicacion-balonmano thead th,
table.Aplicacion-balonmano tbody th {
    margin: 3px;
    height: 2.5em;
    background-color: rgba(7, 45, 8, 0.8);
    text-transform: uppercase;
}

table.Aplicacion-balonmano tbody td {
    padding: 0.5em;
    text-align: center;
}

table.Aplicacion-balonmano tbody tr {
    margin: 3px;
    height: 2em;
    background-color: rgba(37, 143, 25, 0.8)
}
table.Aplicacion-balonmano thead,
table.Aplicacion-balonmano tbody,
table.Aplicacion-balonmano tr,
table.Aplicacion-balonmano td {
    text-align: center;
    margin: 0 auto 0 auto;
}
table.Aplicacion-balonmano {
    width: 100%;
}

table.listado-balonmano {
    width: 100%;
    border: 1px solid rgba(37, 143, 25, 0.8);
}

table.listado-balonmano thead th,
table.listado-balonmano tbody th {
    margin: 3px;
    height: 2.5em;
    background-color: rgba(36, 97, 12, 0.54);
    text-transform: uppercase;

}

table.listado-balonmano tbody th {
    background-color: rgba(37, 143, 25, 0.8);
}

table.listado-balonmano tbody td {
    padding: 0.5em;
    text-align: center;
}

table.listado-balonmano tbody tr {
    margin: 3px;
    height: 2em;
    background-color: rgba(36, 97, 12, 0.54)
}


table.listado-jugadores-balonmano_completo {
    width: 100%;
    border: 1px solid rgba(7, 45, 8, 0.8);
}

table.listado-jugadores-balonmano_completo thead th {
    margin: 3px;
    height: 2.5em;
    background-color: rgba(7, 45, 8, 0.8);
    text-transform: uppercase;

}

table.listado-jugadores-balonmano_completo tbody td {
    padding: 0.5em;
    text-align: center;
}

table.listado-jugadores-balonmano_completo tbody tr {
    margin: 3px;
    height: 2em;
    background-color: rgba(37, 143, 25, 0.8)
}

.listado-balonmano {
    max-width: 100%;
    overflow-x: auto;
}

table.listado-jugadores-balonmano_completo thead,
table.listado-jugadores-balonmano_completo tbody,
table.listado-jugadores-balonmano_completo tr,
table.listado-jugadores-balonmano_completo td {
    text-align: center;
    margin: 0 auto 0 auto;
}

table.listado-jugadores-balonmano_completo {
    width: 100%;
}

table.listado-jugadores-balonmano {
    width: 100%;
    border: 1px solid rgba(7, 45, 8, 0.8);
}

table.listado-jugadores-balonmano thead th {
    margin: 3px;
    height: 2.5em;
    background-color: rgba(36, 97, 12, 0.54);
    text-transform: uppercase;

}

table.listado-jugadores-balonmano tbody td {
    padding: 0.5em;
    text-align: center;
}

table.listado-jugadores-balonmano tbody tr {
    margin: 3px;
    height: 2em;
    background-color: rgba(37, 143, 25, 0.8)
}

.listado-balonmano {
    max-width: 100%;
    overflow-x: auto;
}

table.listado-jugadores-balonmano thead,
table.listado-jugadores-balonmano tbody,
table.listado-jugadores-balonmano tr,
table.listado-jugadores-balonmano td {
    text-align: center;
    margin: 0 auto 0 auto;
}

table.listado-jugadores-balonmano {
    width: 100%;
}

