/**
 * @file ms-plantilla.css
 * @description Estilos aplicables a la visualización de elementos relacionados con el MS Plantilla
 * @author Víctor M. Rivas Santos <vrivas@ujaen.es>
 * @date 03-Feb-2023
 */

 
 * {
    font-family: 'Source Sans Pro', sans-serif;
}

table.Aplicacion-atletas {
    width: 100%;
    border: 1px solid rgba(16, 107, 182, 0.589);
}
  
table.Aplicacion-atletas thead th,
table.Aplicacion-atletas tbody th {
    margin: 3px;
    height: 2.5em;
    background-color: rgba(16, 107, 182, 0.589);
    text-transform: uppercase;
}
  
table.Aplicacion-atletas tbody td {
    padding: 0.5em;
    text-align: center;
}
  
table.Aplicacion-atletas tbody tr {
    margin: 3px;
    height: 2em;
    background-color: rgba(11, 218, 255, 0.534);
}
table.Aplicacion-atletas thead,
table.Aplicacion-atletas tbody,
table.Aplicacion-atletas tr,
table.Aplicacion-atletas td {
    text-align: center;
    margin: 0 auto 0 auto;
}
table.Aplicacion-atletas {
    width: 100%;
}

table.listado-atletas {
    width: 100%;
    border: 1px solid rgba(11, 218, 255, 0.534);
}

table.listado-atletas thead th,
table.listado-atletas tbody th {
    margin: 3px;
    height: 2.5em;
    background-color: rgba(16, 107, 182, 0.589);
    text-transform: uppercase;

}

table.listado-atletas tbody th {
    background-color: rgba(16, 107, 182, 0.589);
}

table.listado-atletas tbody td {
    padding: 0.5em;
    text-align: center;
}

table.listado-atletas tbody tr {
    margin: 3px;
    height: 2em;
    background-color: rgba(0, 0, 100, 0.1)
}
 

table.listado-atletas-completo {
    width: 100%;
    border: 1px solid rgba(16, 107, 182, 0.589);
}

table.listado-atletas-completo thead th {
    margin: 3px;
    height: 2.5em;
    background-color: rgba(16, 107, 182, 0.589);
    text-transform: uppercase;

}

table.listado-atletas-completo tbody td {
    padding: 0.5em;
    text-align: center;
}

table.listado-atletas-completo tbody tr {
    margin: 3px;
    height: 2em;
    background-color: rgba(11, 218, 255, 0.534);
}

.listado-atletas {
    max-width: 100%;
    overflow-x: auto;
}

table.listado-atletas-completo thead,
table.listado-atletas-completo tbody,
table.listado-atletas-completo tr,
table.listado-atletas-completo td {
    text-align: center;
    margin: 0 auto 0 auto;
}

table.listado-atletas-completo {
    width: 100%;
}

table.listado_atletas {
    width: 100%;
    border: 1px solid rgba(0, 0, 100, 0.8);
}

table.listado_atletas thead th {
    margin: 3px;
    height: 2.5em;
    background-color: rgba(11, 218, 255, 0.534);
    text-transform: uppercase;

}

table.listado_atletas tbody td {
    padding: 0.5em;
    text-align: center;
}

table.listado_atletas tbody tr {
    margin: 3px;
    height: 2em;
    background-color: rgba(11, 218, 255, 0.534);
}

.listado-atletas {
    max-width: 100%;
    overflow-x: auto;
}

table.listado_atletas thead,
table.listado_atletas tbody,
table.listado_atletas tr,
table.listado_atletas td {
    text-align: center;
    margin: 0 auto 0 auto;
}

table.listado_atletas {
    width: 100%;
}


