/**
 * @file ms-plantilla.css
 * @description Estilos aplicables a la visualización de elementos relacionados con el MS Plantilla
 * @author Víctor M. Rivas Santos <vrivas@ujaen.es>
 * @date 03-Feb-2023
 */

 
 * {
    font-family: 'Source Sans Pro', sans-serif;
}

table.Aplicacion-motonautica {
    width: 100%;
    border: 1px solid rgba(144, 153, 14, 0.699);
}
  
table.Aplicacion-motonautica thead th,
table.Aplicacion-motonautica tbody th {
    margin: 3px;
    height: 2.5em;
    background-color: rgba(153, 139, 14, 0.699);
    text-transform: uppercase;
}
  
table.Aplicacion-motonautica tbody td {
    padding: 0.5em;
    text-align: center;
}
  
table.Aplicacion-motonautica tbody tr {
    margin: 3px;
    height: 2em;
    background-color: rgba(227, 252, 0, 0.575)
}
table.Aplicacion-motonautica thead,
table.Aplicacion-motonautica tbody,
table.Aplicacion-motonautica tr,
table.Aplicacion-motonautica td {
    text-align: center;
    margin: 0 auto 0 auto;
}
table.Aplicacion-motonautica {
    width: 100%;
}

table.listado-motonautica {
    width: 100%;
    border: 1px solid rgba(78, 80, 0, 0.8);
}

table.listado-motonautica thead th,
table.listado-motonautica tbody th {
    margin: 3px;
    height: 2.5em;
    background-color: rgba(27, 26, 26, 0.4);
    text-transform: uppercase;

}

table.listado-motonautica tbody th {
    background-color: rgba(0, 0, 0, 0.1);
}

table.listado-motonautica tbody td {
    padding: 0.5em;
    text-align: center;
}

table.listado-motonautica tbody tr {
    margin: 3px;
    height: 2em;
    background-color: rgba(133, 131, 11, 0.1)
}
 

table.listado-pilotos {
    width: 100%;
    border: 1px solid rgba(98, 100, 0, 0.8);
}

table.listado-pilotos thead th {
    margin: 3px;
    height: 2.5em;
    background-color: rgba(0, 0, 0, 0.4);
    text-transform: uppercase;

}

table.listado-pilotos tbody td {
    padding: 0.5em;
    text-align: center;
}

table.listado-pilotos tbody tr {
    margin: 3px;
    height: 2em;
    background-color: rgba(98, 100, 0, 0.1)
}

.listado-motonautica {
    max-width: 100%;
    overflow-x: auto;
}
  
.form-pilotos-elemento {
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
}

.form-pilotos-elemento:disabled {
    color: black;
    background-color: inherit;
    border-width: 0px;
    text-align: center;
}

.form-pilotos-elemento:enabled {
    color:rgba(66, 65, 2, 0.8);
}

.form-pilotos-elemento:enabled:required {
    color:rgba(100, 90, 0, 0.8);
}

table.listado-pilotos thead,
table.listado-pilotos tbody,
table.listado-pilotos tr,
table.listado-pilotos td {
    text-align: center;
    margin: 0 auto 0 auto;
}

table.listado-pilotos {
    width: 100%;
}