/**
 * @file ms-plantilla.css
 * @description Estilos aplicables a la visualización de elementos relacionados con el MS Plantilla
 * @author Víctor M. Rivas Santos <vrivas@ujaen.es>
 * @date 03-Feb-2023
 */

 
 * {
    font-family: 'Source Sans Pro', sans-serif;
}

table.Aplicacion-tiro_con_arco {
    width: 100%;
    border: 1px solid rgba(96, 11, 117, 0.822);
}
  
table.Aplicacion-tiro_con_arco thead th,
table.Aplicacion-tiro_con_arco tbody th {
    margin: 3px;
    height: 2.5em;
    background-color: rgba(155, 33, 185, 0.822);
    text-transform: uppercase;
}
  
table.Aplicacion-tiro_con_arco tbody td {
    padding: 0.5em;
    text-align: center;
}
  
table.Aplicacion-tiro_con_arco tbody tr {
    margin: 3px;
    height: 2em;
    background-color: rgba(207, 87, 236, 0.822)
}
table.Aplicacion-tiro_con_arco thead,
table.Aplicacion-tiro_con_arco tbody,
table.Aplicacion-tiro_con_arco tr,
table.Aplicacion-tiro_con_arco td {
    text-align: center;
    margin: 0 auto 0 auto;
}
table.Aplicacion-tiro_con_arco {
    width: 100%;
}

table.listado-tiro_con_arco {
    width: 100%;
    border: 1px solid rgba(207, 87, 236, 0.822);
}

table.listado-tiro_con_arco thead th,
table.listado-tiro_con_arco tbody th {
    margin: 3px;
    height: 2.5em;
    background-color: rgba(0, 0, 0, 0.4);
    text-transform: uppercase;

}

table.listado-tiro_con_arco tbody th {
    background-color: rgba(0, 0, 0, 0.1);
}

table.listado-tiro_con_arco tbody td {
    padding: 0.5em;
    text-align: center;
}

table.listado-tiro_con_arco tbody tr {
    margin: 3px;
    height: 2em;
    background-color: rgba(0, 0, 100, 0.1)
}
 

